<a class="btn btn-primary" routerLink="/agregar"> Agregar Producto</a>

<input type="text"
       name="keyword"
       [(ngModel)]="filtro.keyword" (input)="filtroListaProducto()"/>

<div class="card">
  <div class="card-body">
  <div *ngFor="let valorproducto of productos">
    <ul class="list-group list-group-flush">
    <li class="list-group-item">{{valorproducto.nombre}}</li>
    <li class="list-group-item">{{valorproducto.descripcion}}</li>
    <li class="list-group-item">{{valorproducto.precio | currency: "MXN"}}</li>
    <li class="list-group-item">{{valorproducto.cantidad}}</li>
    </ul>
    <div class="card-body">
    <a class="btn btn-primary" routerLink="/editar/{{valorproducto.idproducto}}">Editar Producto</a>
    </div>
    </div>
  </div>
</div>
